<?xml version="1.0" encoding="UTF-8"?> 
<launch>
<param name="/use_sim_time" value="true" />
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/blackfly/rovio_test.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/blackfly/rovio_cam.yaml"/>

  <remap from="imu0" to="/alphasense_driver_ros/imu"/>
  <remap from="cam0/image_raw" to="/cam0/cam0"/>
  

  </node>
</launch>
